.languageSelector__ {
  &main {
    min-width: 8rem;
    height: fit-content;
    border-radius: 20px;
    padding: 0 10px;
    color: white;
    position: relative;
    cursor: pointer;
    transition: ease background-color 0.1s;
    &:hover {
      background-color: rgba(5, 6, 6, 0.648);

    }
  }

  &flag {
    margin-right: 5px;
  }

  &title , &flag  {
    user-select: none;
  }

  &dropdown {
    position: absolute;
    background-color: rgba(5, 6, 6, 0.648);
    width: 8rem;
    border-radius: 20px;
    height: fit-content;
    padding: 0 10px;

    display: flex;
    align-items: center;

    justify-content: center;
    z-index: 100;

    cursor: pointer;
    transition: ease background-color 0.1s;
    &:hover {
      background-color: rgba(17, 39, 41, 0.541);
    }
  }



  @media screen and (max-width: 768px){
    &main {
      min-width: 4rem;
      padding: 0 5px;
      margin-left: 10px;
    }

    &dropdown {
      width: 4rem;
      padding: 0 5px;
      margin-left: 5px;
    }
  }
}
