@import "../../assets/sass/varibles";

.activitybar__ {
  &main {
    width: 100%;
    height: 4rem;
    position: fixed;
    background: rgba(1, 4, 18, 0.701);
    display: flex;
    align-items: center;

    justify-content: space-around;

    z-index: 1000;

    border-bottom: 3px solid rgba(8, 118, 186, 0.656);

    a {
      height: 100%;
      display: grid;
      place-items: center;

      figcaption {
        display: flex;
        height: 85%;
        width: fit-content;
        align-items: center;
        border: 1px solid #f2f2f23f;
        background: rgb(13, 74, 191);
        background: radial-gradient(circle, rgba(13, 75, 191, 0.439) 0%, rgba(49, 59, 5, 1) 97%);
        border-radius: 100%;
        strong {
          font-size: 2rem;
          color: rgb(212, 219, 75);
          font-weight: 500;
          text-shadow: 2px 5px 10px rgba(85, 141, 7, 0.559);
          font-family: "Lobster", sans-serif;

          font-style: normal;
          padding: 0.7rem;
          margin: 0;
          line-height: 0;
        }
      }
    }

    @media screen and (max-width: 768px) {
      justify-content: space-between;
      a {
        margin-left: 1rem;
        figcaption {
          height: 75%;
          strong {
            font-size: 1.5rem;
          }
        }
      }


      .activitybar__language_cont{

        padding-right: 1.5rem;
      }
    }
  }

  &sectionselector {
    display: flex;
    align-items: center;
    justify-content: center;
    

    height: 100%;

   
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 30px;
    @media screen and (min-width: 768px) {
      padding-left: 5rem;
    }
    

    &__section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: 100%;

      cursor: pointer;
      transition: all 0.3s ease;
      gap: 10px;
      border-radius: 5px;
      color: white;
      text-transform: capitalize;
      font-weight: 500;
      text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.559);
      a {
        color: #f2f2f2;
        text-decoration: none;
        &:hover {
          color: #a6e822b9;
        }
      }
    }
    &__menuIcon {
      width: 1.5rem;
      height: 1.5rem;
      fill: white;

      margin-right: 1rem;
      cursor: pointer;
    }
  }
}
