@import "../../assets/sass/varibles";

.desktop__{
  &main {
  width: $desktop-width;
  min-height: $desktop-height;
 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 


  
}

}
