@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// _variables.scss
$desktop-width: 100%;
$desktop-height: calc(100vh - 2rem);




$color1:#b7aea5;
$color2:#f77014;
$color3: #e33c08;
$color4:#433d3d23;
$color5:#221d2133;

$color-lima: #00FF00;

